.createNew {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(253, 167, 167, .7);

  &__container {
    max-width: 500px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background-color: #fff;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;


    &-title {
      text-align: center;
      font-size: 20px;
    }

    &-form {
      padding: 10px;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 450px;
      width: 100%;

      &-close {
        position: absolute;
        font-size: 25px;
        top: 10px;
        right: 10px;
        cursor: pointer;

        &:hover {
          color: #ff3737;
        }
      }
      
      &-ing {
        margin-bottom: 20px;
      }

      &-plus {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-bottom: 20px;
      }

      &-step {
        margin-bottom: 20px;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  background-color: #c2c2c2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff4444;
  border-radius: 9em;

}

@media screen and (max-width: 500px) {
  .createNew__container {
    max-width: 300px;

  }
}