.mainPage__recipes-item {
  max-width: 400px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &-container {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(253, 0, 0, .5);
    border-radius: 20px;

    &:hover {
      box-shadow: 0 0 10px 5px rgba(253, 0, 0, .5);
      transition: all .3s;
    }

    &-link {
      

      text-decoration: none;
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center ;
      

      

      &-title {
        margin-top: 20px;
        margin-bottom: 20px;
        
      }

      &-page {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
        border-radius: 20px;
      }

      &-description {
        text-align: center;
        margin-bottom: 20px;
        
      }

      
    }

    &-ingredients {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-title {
        text-align: start;
        margin-bottom: 10px;
      }

      &-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 20px;
        text-align: start;    
        
        &-item {
          display: flex;
        }
      }  

    }

    &-revue {
      margin: 0 auto;
      max-width: 200px;
      display: flex;
      justify-content: space-between;

      &-rating {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-star {
          width: 20px;
          height: 20px;
        }
      }

      &-like {
        width: 25px;
        height: 25px;
        cursor: pointer;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

