.auto {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
        margin-bottom: 20px;
    }


    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 262px;
        width: 100%;
        position: relative;

        & input {
            margin-bottom: 15px;
            max-width: 250px;
            width: 100%;
            height: 25px;
            border-radius: 5px;
            padding: 5px;
            outline: none;

            &[type='password'] {
                width: 210px;
                padding-right: 45px;
            }
        }

        & label {
            position: relative;
            width: 100%;

        }
        &-eye {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-80%);
            cursor: pointer;
            
        }

        &-enter {
            max-width: 200px;
            width: 100%;
            height: 50px;
            border: 2px solid #fd0000;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #fd0000;
            transition: all .4s;
            background-color: transparent;

            

            &:hover {
                background-color: #fd0000;
                color: #fff;
                transition: all .4s;
            }
    
            &:active {
                background-color: #fd0000;
                color: #fff;
                transition: all .4s;
            }

            &:disabled {
                // background-color: #000;
                color: #000;
                border: #858585;
                opacity: .5;
                box-shadow: none;
                background-color: #858585;
                cursor: auto;

            }
        }

    }

    &__singup {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 50px;

    }
}